/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/vendor
/public/mix-manifest.json
/public/*.js
/storage/*.key
/storage/logs/*
/storage/framework/*
/vendor
/.idea
/.vagrant
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
config.yaml

/setup
Vagrantfile
ubuntu*

.DS_Store
storage/.DS_Store
storage/framework/.DS_Store
